@font-face {
    font-family: fontLove;
    src: url(../font/WORDSOFLOVE.ttf);
}
@font-face {
    font-family: sunfont;
    src: url(../font/Alittlesunshine.ttf);
}
.intro{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .react-player{
        position: absolute;
        top: -200px;
        left: -200px;
        z-index: -100;
    }
    .cover{
        background-color: transparent;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        text-align: center;
        display: flex;
        flex-direction: column;
        .button{
            box-shadow: none;
            width: 300px;
            height: 50px;
            font-size: 30px;
            background-color: #FDBE31;
            color: white;
            border: none;
            font-family: sunfont;
            font-weight: bold;
            animation: button-animation 3s,  rottate-text 4s;
            text-decoration: none;
            margin-bottom: 20px;
        }
    }
}

@keyframes button-animation {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes rottate-text {
    0%{
        letter-spacing: -0.5em;
    }
    100%{
        letter-spacing: 0em;
    }
}

  

